// Fonts -----------------------------------------------------------
@font-face { font-family: 'Quicksand Bold'; src: url("./fonts/Quicksand-Bold.ttf");}

@font-face { font-family: 'Quicksand SemiBold'; src: url("./fonts/Quicksand-SemiBold.ttf");}

@font-face { font-family: 'Quicksand Medium'; src: url("./fonts/Quicksand-Medium.ttf");}

@font-face { font-family: 'Quicksand Regular'; src: url("./fonts/Quicksand-Regular.ttf");}

@font-face { font-family: 'Quicksand Light'; src: url("./fonts/Quicksand-Light.ttf");}


$bold: 'Quicksand Bold';
$semibold: 'Quicksand SemiBold';
$medium: 'Quicksand Medium';
$regular: 'Quicksand Regular';
$light: 'Quicksand Light';

// Font-sizes -------------------------------------------------------
$heading: 3rem;
$large-text: 2rem;
$medium-text: 1.5rem;
$small-text: 1rem;
$tag: 0.75rem;
$icon-size: 2.25rem;
$icon-size-small: 1.75rem;
  
// Colors -----------------------------------------------------------
$primary: rgb(68, 102, 61);
$secondary: rgb(195, 236, 165); // Used few times as outlines for example, might not be necessary
$background: rgb(221, 255, 212); // App background
$red: rgb(212, 81, 81); // Alert and irreversible actions color
$white: rgb(249, 249, 249); 
$grey: rgb(236, 236, 236); // Background color for the dropdown menus

// ------------------------------------------------------------------

@mixin food-item-container {
	color: $primary;
	background-color: $white;
	list-style-type: none;
	margin: 0rem auto;
	width: $content-width;
	box-shadow: 0px 4px 0px 0px rgba($secondary, 1);
	border-radius: 20px;
	border-style: solid;
	border-color: darken($white, 4%);
	// border-color: red;
	border-width: 2px;
	font-size: $medium-text;
    transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.1s ease-in-out;

	&:hover {
		background-color: darken($white, 4%);
	}

    &:active {
        box-shadow: 0px 0px 0px 2px rgba($primary, 1);
        border-color: darken($white, 4%);
        transition: transform 0.1s ease-in-out; // Adjust the transform transition separately
        transform: scale(0.99);
    }

	&.open {
		box-shadow: 0px 8px 0px 0px rgba($primary, 1);
		transform: none;
		margin-bottom: 1rem;

		&:hover {
			background-color: $white;
		}
	}

	@media screen and (max-width: $small-mobile) {
        font-size: $small-text;
		border-radius: 12px;
    }
}

@mixin food-item-container-size-diffs {
	@media screen and (max-width: $laptop) {
        max-width: calc($small-content-width - 4px);
		// background-color: red;
		// border-color: red;
    }
	@media screen and (max-width: $small-laptop) {
        max-width: calc($small-laptop-content-width - 4px);
		// background-color: red;
    }
    @media screen and (max-width: $tablet) {
        max-width: calc($tablet-content-width - 4px);
    }
    @media screen and (max-width: $large-mobile) {
        max-width: calc($mobile-content-width - 4px);
		padding: 0.75rem 0rem;
    }
}

@mixin all-foods-widths {
	@media screen and (max-width: $laptop) {
        max-width: calc($small-content-width - 3rem);
		padding: 1rem 1.5rem;
    }
	@media screen and (max-width: $small-laptop) {
        max-width: calc($small-laptop-content-width - 2rem);
		padding: 1rem;
    }
    @media screen and (max-width: $tablet) {
        max-width: calc($tablet-content-width - 2rem);
    }
    @media screen and (max-width: $large-mobile) {
		max-width: 100%;
		margin-bottom: 0rem;
		border-radius: 20px 20px 0px 0px;
    }
}

// The item header stays above the options of the opened item
// For example "Add new food"
@mixin active-item-content {
	border-style: solid;
	border-color: $secondary;
	border-width: 0 0 2px 0;
	padding-bottom: 0.25rem;
	margin: auto 1.5rem;

	@media screen and (max-width: $small-mobile) {
		margin: auto 0.75rem;
		padding: 0.5rem 0rem;
    }
}


@mixin toolbar-icon-button-container {
	background-color: transparent;
	border-style: none;
	padding: 0;
}

@mixin toolbar-icon-button {
	padding: 0;
	margin: 0;
    font-size: $icon-size;
    color: $primary;
	transition: color 0.3s ease-in-out;
}

// To be used together with the toolbar-icon-button
@mixin toolbar-icon-animations {
	transition: color 0.3s ease-in-out, scale 0.1s ease-in-out;
	&:hover{
		color: $secondary;

		&:active {
			scale: (0.8);
		}
	}	
}

// Input field styles

@mixin input-field-basics {
	display: flex;
	align-items: start;
	font-size: $small-text;
}

@mixin label-style {
	text-align: left;
	display: flex;
	flex-direction: column;
	font-family: $medium;
}

@mixin input-style {
	font-size: 1rem;
	border: none;
	background-color: $grey;
	font-family: $regular;
	padding: 0.5rem;
	width: $form-input-width;
	height: $form-input-height;
	border-radius: 6px;
	color: $primary;
	transition: box-shadow 0.3s ease-in-out;

	&::placeholder{
		color: darken($grey, 25%);
	}

	&:focus {
	  box-shadow: 0 0 0 2px $primary;
	  outline: none;
	}
}

@mixin date-picker-icon {
	filter: brightness(0) 
	saturate(100%) 
	invert(38%) 
	sepia(31%) 
	saturate(537%) 
	hue-rotate(64deg) 
	brightness(86%) 
	contrast(90%);
	transition: filter 0.3s ease-in-out;

	&:hover {
		filter: brightness(0)
		saturate(100%)
		invert(95%)
		sepia(5%)
		saturate(3237%)
		hue-rotate(37deg)
		brightness(84%)
		contrast(87%);
	}
}


// Buttons -----------------------------------------------------------

$button-height: 2rem;

@mixin button-group {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 1rem auto 0rem;

	@media screen and (max-width: $large-mobile) {
		flex-direction: column-reverse; // KEEP THIS? 
		margin: 0.75rem 0.75rem 0rem 0.75rem;
    }
}

@mixin button {
	border-radius: 6px;
	font-size: $small-text;
	padding: 0.25rem 1rem;
	min-width: 5.8rem;
	margin: 0rem 0.25rem;
	height: $button-height;
	cursor: pointer;
	transition: ease-in-out 0.3s, scale 0.1s ease-in-out;

	@media screen and (max-width: $large-mobile) {
		height: 2.5rem;
		width: 100%; // KEEP THIS?
		margin: 0rem 0rem 0.5rem; // KEEP THIS?
    }

	&:hover {
		&:active{
			scale: (0.95);
		}
	}
}

@mixin primary-button {
	@include button;
	font-family: $bold;
	color: $white;
	background-color: $primary;
	border-style: solid;
	border-color: $primary;

	&:hover{
		background-color: $secondary;
		color: $primary;
	}
}

@mixin secondary-button {
	@include button;
	font-family: $semibold;
	color: $primary;
	background-color: $white;
	border-style: solid;
	border-width: 2px;
	border-color: $primary;

	&:hover{
		background-color: darken($white, 15%);
	}
}

@mixin tertiary-button {
	font-family: $semibold;
	background-color: transparent;
	border-style: solid;
	border-width: 0 0 1.5px 0;
	border-color: $red;
	color: $red;
	font-size: $small-text;
	margin: 0rem auto 1rem;
	cursor: pointer;
	display: inline-block;
	transition: ease-in-out 0.3s, scale 0.1s ease-in-out;

	&:hover{
		color: darken($red, 15%);
		border-color: darken($red, 15%);

		&:active {
			scale: (0.95);
		}
	}

	@media screen and (max-width: $small-mobile) {
		margin-top: 0.75rem;
	}
}

// Breakpoints ------------------------------------------------------

$laptop: 1280px;
$small-laptop: 1100px;
$tablet: 991px;
$large-mobile: 820px;
$small-mobile: 700px;

// Other variables --------------------------------------------------

$form-input-width: 8rem;
$form-input-height: 1.5rem;

$content-width: 60rem;
$small-content-width: 65%;
$small-laptop-content-width: 75%;
$tablet-content-width: 85%;
$mobile-content-width: 90%;