@import './shared';

.active-filter-container {
    display: flex;
    margin: 0.75rem auto;
    max-width: calc($content-width + 2px);
    justify-content: left;
    padding: 0;
    flex-direction: row;

    @media screen and (max-width: $laptop) {
        max-width: $small-content-width;
    }
    @media screen and (max-width: $small-laptop) {
        max-width: $small-laptop-content-width;
    }
    @media screen and (max-width: $tablet) {
        max-width: $tablet-content-width;
    }
    @media screen and (max-width: $large-mobile) {
        max-width: $mobile-content-width;
    }

    .active-filter-header {
        color: $primary;
        font-family: $semibold;
        margin-top: 0.625rem;
        margin-right: 0.25rem;
    }

    .active-filter-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        .filter-tag {
            @include filter-tag-style;
        }
    }

    .active-filter-clear-button{
        @include tertiary-button;
        margin-left: 0.25rem;
        margin-bottom: 0.25rem;
    }
}