@import './shared';

.new-food-container {
	ul {
		margin: 0;
		padding: 0;
	}
	@include food-item-container;
	@include food-item-container-size-diffs;
	font-family: $bold;
	text-align: center;
	border-color: $secondary;
	background-color: #FEFEFE;
	cursor: pointer;

	.item-content {
		padding: 0.5rem 1.5rem;
		text-align: center;
	}

	&.open {
		border-style: solid;
		border-color: $primary;
		cursor: auto;

		.item-content {
			@include active-item-content;	
		}
	}
}