@import './shared';

.food-item-container {
  @include food-item-container;
	font-family: $bold;
	text-align: center;
	border-color: $detail;
	background-color: #FEFEFE;

	.item-content {
		padding: 0.75rem 1.5rem;
		text-align: center;
	}

	&.active {
		border-style: solid;
		border-color: $primary;

		.item-content {
			@include active-item-content;	
		}
	}
}