@import './shared';

.new-food-container {
	ul {
		margin: 0;
		padding: 0;
	}
	@include food-item-container;
	@include food-item-container-size-diffs;
	font-family: $bold;
	text-align: center;
	border-color: $secondary;
	background-color: #FEFEFE;
	cursor: pointer;

	.item-content {
		padding: 0.75rem 1.5rem;
		text-align: center;
	}

	&.open {
		border-style: solid;
		border-color: $primary;
		cursor: auto;

		.item-content {
			@include active-item-content;
		}
		
		@media screen and (max-width: $large-mobile) {
			// There's some mysterious padding that messes up the forms of this
			// and the allFoods component.
			// This is a shitty fix cos I can't anymore. I want to cry.
			.form-padding-container {
				padding: 0rem 1rem 
			}
		}
	}
}