@import 'colors.scss';
@import 'fonts.scss';
@import './shared';

.list-of-all-food-items {
	display: flex;
	max-width: 100%;
	flex-direction: column;
	margin: 0;
	padding: 0;

	ul {
		margin: 0;
		padding: 0;
	}
	
	.food-item-container {
		@include food-item-container;
		margin: 0.75rem auto;

		.single-food-item {
			.item-content {
				font-size: 1.5rem;
				color: $primary;
				display: flex;
				justify-content: space-between;
				padding: 0;
				width: auto;

				.food-name {
					font-family: $medium;
					text-align: left;
				}
			
				.food-date {
					font-family: $light;
					text-align: right;
				}
			}

			.button-group{
				@include button-group
			}
		}

		&.active {
			border-style: solid;
			border-color: $primary;

			.item-content {
				border-style: solid;
				border-color: $detail;
				border-width: 0 0 2px 0;
				padding-bottom: 0.25rem;

				.food-name {
					font-family: $bold;
				}
	
				.food-date {
					font-family: $medium;
				}
			}
		}
	}
}