@import 'colors.scss';
@import 'fonts.scss';
@import './shared';

.list-of-all-food-items {
	display: flex;
	max-width: 100%;
	flex-direction: column;
	margin: 0;
	padding: 0;

	ul {
		margin: 0;
		padding: 0;
	}
	
	.food-item-container {
		@include food-item-container;
		margin: 0.75rem auto;
		
		cursor: auto;

		.single-food-item {

			.item-content {
				display: flex;
				justify-content: space-between;
				padding: 0.75rem 0rem;
				width: auto;

				.food-name {
					font-family: $medium;
					text-align: left;
					padding-left: 1.5rem;
				}
			
				.food-date {
					font-family: $light;
					text-align: right;
					padding-right: 1.5rem;
				}
			}
			
			.tertiary-button{
				@include tertiary-button
			}

			.button-group {
				@include button-group;
			
				button {
					@include button;
			
					&.primary-button {
						@include primary-button;
					}
			
					&.secondary-button {
						@include secondary-button;
					}
				}
			}
		}

		&.active {
			border-style: solid;
			border-color: $primary;

			.item-content {
				@include active-item-content;

				.food-name {
					font-family: $bold;
					padding: 0
				}
	
				.food-date {
					font-family: $medium;
					padding: 0
				}
			}
		}
	}
}