// @import 'colors.scss';
// @import 'fonts.scss';
@import './shared';

body {
  background-color: $background;
  overflow-y: scroll;
}

h1 {
  color: $primary;
	font-family: $bold;
	font-weight: normal;
	text-align: center;
	font-size: 3rem;
	margin: 0;
}