$primary: rgb(68, 102, 61);
$background: rgb(221, 255, 212); // App background
$red: rgb(212, 81, 81); // Alert and irreversible actions color
$white: rgb(249, 249, 249); 
$grey: rgb(236, 236, 236); // Background color for the dropdown menus
$detail: rgb(159, 203, 128) // Used few times as outlines for example, might not be necessary