@import './shared';

.darkened-background-container {
	position: fixed;
	z-index: 100;
	left: 0;
	right: 0;
	top: 0;
	height: 100vh;
	background-color: rgba(black, 0.50);
	display: flex;
	justify-content: center;
	align-items: center;

	.message-container {
		background-color: $white;
		border-style: solid;
		border-width: 0.5rem;
		border-color: $secondary;
		width: 30rem;
		// height: 25rem;
		margin: auto;
		padding: 1.25rem;
		text-align: center;
  		border-radius: 20px;
		color: $primary;
		justify-content: center;
		align-items: center;

		.message-heading {
			display: flex;
			flex-direction: column;
			// background-color: aqua;
			// margin-bottom: 0.75rem;
			font-family: $semibold;
			font-size: $medium-text;
			
			.chef-image {
				filter: brightness(0) 
				saturate(100%) 
				invert(38%) 
				sepia(31%) 
				saturate(537%) 
				hue-rotate(64deg) 
				brightness(86%) 
				contrast(90%);
				width: 5rem;
				margin: 0rem auto 0.25rem;
			}

			.x-container {
				@include toolbar-icon-button-container;
				align-self: flex-end;

				.x-icon {
					@include toolbar-icon-button;
					@include toolbar-icon-animations;
					color: $red;
					font-size: calc($icon-size * 0.70);

					&:hover{
							color: darken($red, 15%);
					}	
				}
			}
		}
		
		.message-content {
			// background-color: red;
			display: flex;
			flex-direction: column;
			justify-content: center;


			.message-text {
				margin: 0.75rem auto 1rem;
				font-family: $medium;
				font-size: $medium-text;

				&.thinner {
					font-family: $regular;
					font-size: $small-text;;
				}

				&.bolder{
					font-family: $semibold;
				}
			}

			@keyframes enlarge {
				0% {
					transform: scale(1);
				}
				25% {
					transform: scale(1.1); // Increase size by 30%
				}
				50% {
					transform: scale(1);
				}
				75% {
					transform: scale(1.1); // Increase size by 30%
				}
				100% {
					transform: scale(1); // Return to original size
				}
			}

			.recommended-food {
				font-size: $large-text;
				font-family: $bold;
				margin-bottom: 1rem;
				max-width: 100%;
				// background-color: aqua;
				white-space: wrap;
				overflow: hidden;
				text-overflow: ellipsis;

				&.enlarge {
					animation: enlarge 1s ease-in-out; // Apply the enlarge animation for 0.5s
				}
			}

			.confirmation-icon {
				font-size: 5rem;
				color: $red;
			}

			@media screen and (max-width: $small-mobile) {
				.message-text {
					font-size: $small-text;
					margin-bottom: 0rem;
				}

				.recommended-food {
					font-size: $medium-text;
					margin-bottom: 0rem;
					// background-color: black;
				}

				.confirmation-icon {
					font-size: 3rem;
				}
			}
		}

		.button-group {
			@include button-group;
			// padding-top: 2rem;
			margin-top: 0.5rem;

			button {
				@include button;

				&.primary-button {
					@include primary-button;

					&.delete {
						background-color: $red;
						border-color: $red;

						&:hover{
							background-color: darken($red, 15%);
							border-color: darken($red, 15%);
							color: $white;
						}
					}
				}

				&.secondary-button {
					margin: 0;
					@include secondary-button
				}
			}
		}

		@media screen and (max-width: $small-laptop) {
			width: 55%;
		}

		@media screen and (max-width: $large-mobile) {
			width: 75%;
		}
	}
}
