@import './shared';

.filter-form-container {
    // @include food-item-container;
    // @include food-item-container-size-diffs;
    background-color: $white;
    border-color: $secondary;
    display: flex;
    max-width: 20rem;
	// box-shadow: 0px 0px 0px 3000px rgba(black, 0.30);
    margin: auto;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 1rem;
    z-index: 100;
    position: fixed; // Make it fixed
    left: 0;
    right: 0;
    top: -1;

    .filter-form-header {
        font-family: $bold;
        font-size: $medium-text;
        color: $primary;
        padding-top: 0.75rem;
        display: flex;
        justify-content: space-between;
        margin: 0rem 1.5rem;

        .close-container{
            @include toolbar-icon-button-container;

            .close-icon {
                @include toolbar-icon-button;
                @include toolbar-icon-animations;
                color: $red;
                font-size: calc($icon-size * 0.60);

                &:hover{
                    color: darken($red, 15%);
                }	
            }
        }
    }

    .filter-form-content {
        display: flex;
        align-items:stretch;
        // text-align: left;
        justify-content: space-between;
        flex-direction: column;
        margin: 0.75rem 1.5rem;
        // width: 100%;

        .input-field {
			margin-top: 1rem;
			@include input-field-basics;

			label {
				@include label-style;
			}

			.input {
				@include input-style;
			}


			// input[type=date]:invalid::-webkit-datetime-edit {
			// 	// color: darken($grey, 25%);
			// }



			::-webkit-calendar-picker-indicator{
				@include date-picker-icon;
			}
        }
    }

    .clear-button {
        @include tertiary-button;
        background-color: transparent;
        padding: 0;
    }
}