@import './shared';

.filter-form-container {
    // @include food-item-container;
    // @include food-item-container-size-diffs;
    background-color: $white;
    border-color: $secondary;
    display: flex;
    max-width: 20rem;
	box-shadow: 0px 0px 20px 1px rgba($primary, 0.15);
    border-style: solid;
    margin: 10rem auto auto auto;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 1rem;
    z-index: 100;
    position: fixed; // Make it fixed
    left: 0;
    // margin-left: 4rem;
    right: 0;
    // bottom: 0;
    top: 0;

    .filter-form-header {
        font-family: $bold;
        font-size: $medium-text;
        color: $primary;
        padding-top: 0.75rem;
        display: flex;
        justify-content: space-between;
        margin: 0rem 1.5rem;

        .close-container{
            @include toolbar-icon-button-container;

            .close-icon {
                @include toolbar-icon-button;
                @include toolbar-icon-animations;
                color: $red;
                font-size: calc($icon-size * 0.60);

                &:hover{
                    color: darken($red, 15%);
                }	
            }
        }
    }

    .filter-form-content {
        display: flex;
        align-items:stretch;
        // text-align: left;
        justify-content: space-between;
        flex-direction: column;
        margin: 0.75rem 1.5rem;
        // width: 100%;
        // background-color: aqua;

        .filter-picker-container {
            margin-bottom: 1rem;
        }

        .date-label {
            @include label-style;  
        }

        .input-field {
			@include input-field-basics;
            justify-content: space-between;
            align-items: center;

            .date-type-toggle {
                @include toolbar-icon-animations;
                color: $primary;
                border-style: none;
                background-color: transparent;
                font-size: $small-text;
                font-family: $semibold;
                display: flex;
                align-items: center;
                cursor: pointer;

                &-icon {
                    // color: red;
                    margin-right: 0.75rem;
                    font-size: calc($icon-size-small * 0.75);
                }
            }

			.input {
				@include input-style;
			}


			input[type=date]:invalid::-webkit-datetime-edit {
				color: darken($grey, 25%);
			}



			::-webkit-calendar-picker-indicator{
				@include date-picker-icon;
			}
        }

        @media screen and (max-width: $large-mobile) {
            .filter-picker-container {
                margin-bottom: 0rem;
            }
        }
    }

    .clear-button {
        @include tertiary-button;
        background-color: transparent;
        padding: 0;
    }

    @media screen and (max-width: $large-mobile) {
        margin: 18rem auto auto auto;
    }
}