@import './shared';

form {
	padding-bottom: 1rem;
	
	.form-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0.75rem 1.5rem;
		font-size: 1rem;

		.input-field {
			display: flex;
			align-items: start;
			font-size: 1rem;

			input, label{
				display: block;
			}

			label {
				text-align: left;
				font-family: $medium;
			}

			input {
				font-size: 1rem;
				border: none;
				background-color: $grey;
				font-family: $regular;
				padding: 0.5rem;
				width: $form-input-width;
				height: $form-input-height;
				border-radius: 6px;
				color: $primary;
				transition: box-shadow 0.3s ease-in-out;

				&:focus {
				  box-shadow: 0 0 0 2px $primary;
				  outline: none; // Ensure the default outline is not displayed
				}
			}
		}
	}

	.button-group {
		@include button-group;

		button {
			&.primary-button {
				@include primary-button;
			}

			&.secondary-button {
				@include secondary-button;
			}
		}
	}	
}

