@import './shared';

form {
	padding-bottom: 1rem;
	
	.form-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0.75rem 1.5rem; // KOMMENTOI PÄÄLLE
		font-size: $small-text;

		@media screen and (max-width: $large-mobile) {
			flex-direction: column;
		}
		@media screen and (max-width: $small-mobile) {
			margin: 0rem 0.75rem 0.75rem;
		}

		.input-field {
			@include input-field-basics;

			label {
				@include label-style;
			}

			.input {
				@include input-style;

				&.error {
					box-shadow: 0 0 0 2px $red;
				}
			}

			input[type=date]:invalid::-webkit-datetime-edit {
				color: darken($grey, 25%);
			}

			::-webkit-calendar-picker-indicator{
				@include date-picker-icon;
			}

			@media screen and (max-width: $large-mobile) {
				flex-direction: column;
				justify-content: space-between;
				width: 100%;

				.input, label {
					width: calc(100% - 0.5rem);
				}

				label {
					margin-top: 1rem;
				}

				.input {
					padding: 0.5rem 0.5rem;
				}
			}
			  
		}
	}

	.button-group {
		@include button-group;

		button {
			&.primary-button {
				@include primary-button;
			}

			&.secondary-button {
				@include secondary-button;
			}
		}
	}
	
	.error-message {
		color: $red;
		font-size: 0.75rem;
		font-family: $semibold;
		text-align: left;
	}
}