@import './shared';

.select {
	align-items: center;
	text-align: left;
	// color: $primary;
	// background-color: rebeccapurple;
	width: calc($form-input-width + 16px);

	&.filter {
		width: calc($form-input-width + 48px);
	}

	.select-label {
		font-family: $medium;
		color: $primary;
		font-size: 1rem;
	}

	.ingredient-select {
		font-family: $regular;
		color: $primary;

		.ingSelect__control{
			font-size: 1rem;
			color: $primary;
			background-color: $grey;
			height: calc($form-input-height + 1rem);
			padding: 0;
			border-radius: 6px;
			border-style: none;
			box-shadow: none;
			transition: box-shadow 0.3s ease-in-out;
		}

		.ingSelect__value-container {
			margin: 0;
			padding: 0rem 0.5rem;
			display: flex;
			// color: darken($grey, 25%);
		}

		.ingSelect__single-value{
			font-size: 1rem;
			color: $primary;
		}

		.ingSelect__placeholder{
			color: darken($grey, 25%);
		}

		.ingSelect__input {
			color: $primary;
		}
		
		.ingSelect__control--menu-is-open {
			box-shadow: 0px 0px 0px 2px $primary;
			outline-width: 4px;
		}

		.ingSelect__menu {
			background-color: $white;
			border-style: none;
		}

		.ingSelect__option {
			font-size: 1rem;
			&--is-focused {
				background-color: $grey;
			}
			
			&--is-selected {
				background-color: $primary;
			}
		}

		.ingSelect__indicator {
			color: $primary;
			
			&:hover {
				color: $secondary;
			}
		}

		.ingSelect__indicator-separator {
			background-color: transparent;
			// background-color: $primary;
			// border-radius: 50px;
			// width: 2px;
		}
	}
}