@import "./shared";

@keyframes appear {
    0% { transform: translateY(-200px); }
	60% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}

@keyframes disappear {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-200px); }
}

.pop-up-container {
    position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 100;
	left: 0;
	right: 0;
	margin: 3rem auto auto;
	top: 0;
	color: $primary;
    background-color: $secondary;
	padding: 0.75rem 0rem;
	border-style: solid;
	border-color: $primary;
	border-radius: 20px;
	border-width: 4px;
	max-width: 30rem;
	box-shadow: 0 4px 20px 1px rgba(black, 0.20);
	cursor: pointer;
	animation: appear 0.7s ease-in-out;

	.pop-up-icon {
		margin: 0rem 0.75rem;
		font-size: 2.5rem;
	}

	.pop-up-text {
		margin-right: 0.75rem;
		text-wrap: pretty;
		display: flex;
		flex-direction: column;

		.large {
			font-family: $bold;
			font-size: $medium-text;
		}

		.small {
			font-family: $medium;
			font-size: $small-text;;
		}
	}

	&.fadeaway {
		animation: disappear 0.7s ease-in-out forwards;
		pointer-events: none;
	}

	@media screen and (max-width: $small-mobile) {
		max-width: 20rem;
	}
}