@import './shared';

.search-filter {
    display: flex;
    justify-content: center;

    .icon-container {
			@include toolbar-icon-button-container;

			.search-icon {
				@include toolbar-icon-button;
				@include toolbar-icon-animations;
				font-size: calc(0.97*$icon-size);

				// @media screen and (max-width: $small-mobile) {
				// 	// font-size: calc(0.97*$icon-size-small);
				// }
			}

			.x-icon {
				@include toolbar-icon-button;
				@include toolbar-icon-animations;
				font-size: 1.5rem;
				margin-top: 0.125rem;
				&:hover {
					color: $red
				}

				@media screen and (max-width: $small-mobile) {
					font-size: 1.25rem;
				}
			}
    }

    .search-field-container {
			border-style: solid;
			border-color: $primary;
			border-width: 0 0 2px 0;
			display: flex;
			justify-content: space-between;
			margin-left: 0.5rem;
			width: 10rem;

			// &:active {
			// 	border-color: red;
			// }

			.search-input {
				font-family: $regular;
				color: $primary;
				background: none;
				font-size: $small-text;
				border-style: none;
				border-color: $background;
				padding-right: 0.25rem;
				width: 100%;
				margin: 0;
				transition: border-color 0.3s ease-in-out;
				
				&::placeholder {
					color: lighten($primary, $amount: 30%);
				}

				&:active {
					outline: none;
				}

				&:focus {
					outline: none;
					border-color: $primary;
				}
			}
			
			@media screen and (max-width: $small-mobile) {
				width: 7rem;
			}
    }

}

