@import './shared';

.toolbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:  0rem auto 0.75rem;
    max-width: calc($content-width + 2px); // Compensates food container borders

    .toolbar-left{
        display: flex;
        align-items: center;

        .left-item {
            margin-right: 2rem;
        }
    }

    .toolbar-right{
        display: flex;
        align-items: center;
    }
}